:root {
  --main-font-family: "Bodoni Moda", serif;
  --secondary-font-family: "Noto Sans Display", sans-serif;
  --primary-color: #8d0801;
  --secondary-color: #001427;
  --light-color: #f4d58d;
  --dark-color: #390c0a;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--secondary-font-family);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  padding: 0 16rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--main-font-family);
  /* font-family: var(--secondary-font-family); */
}

.btn {
  width: 10rem;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 12px;
  border: none;
  font-family: var(--main-font-family);
  font-weight: 600;
  box-shadow: 0.1rem 0.1rem 0.4rem var(--secondary-color),
    0.1rem 0.1rem 0.2rem var(--secondary-color);
}

.btn:hover {
  transform: scale(0.98);
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.secondary-btn {
  background-color: var(--light-color);
  color: var(--secondary-color);
}

.section-title {
  width: max-content;
  font-size: 3rem;
  padding: 0.2rem 0;
  border-bottom: 0.2rem solid var(--primary-color);
  margin-bottom: 1.2rem;
  transform: translateX(-300%);
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 20, 39, 0.25);
}

.show {
  animation: titleSlideIn 2s forwards;
}

@keyframes titleSlideIn {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.tag {
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.3rem 0.6rem;
}

.tag:last-child {
  margin-left: 0.2rem;
}

.culture {
  background-color: rgba(112, 141, 129, 0.75);
  background-color: #708d81;
}

.place {
  background-color: rgba(0, 20, 39, 0.5);
}

.food {
  background-color: rgba(244, 213, 141, 0.75);
}

.experience {
  background-color: rgba(141, 8, 1, 0.5);
}

.nature {
  background-color: #708d81;
}

/* Navbar */
.hamburger-menu,
.side-nav {
  display: none;
  visibility: none;
}

.navbar {
  width: 100vw;
  height: 4rem;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar .wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  height: 4rem;
}

.logo img {
  width: 80%;
  height: 100%;
}

.nav-links a {
  color: var(--white-color);
  margin: 0 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
}

.nav-links a::after {
  content: "";
  width: 0;
  height: 120%;
  border-bottom: 0.1rem solid white;
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  transition: width 0.3s;
}

.nav-links a:hover::after,
.nav-links a:active::after {
  width: 100%;
}

/* Hero */
.hero {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.hero-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(img/hero.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  transform: scale(1.1);
  animation: hero-scale-down 6s ease forwards;
  overflow-x: hidden;
}

@keyframes hero-scale-down {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 20, 39, 0.2);
  z-index: -1;
}

.hero-title {
  font-size: 6rem;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.6rem var(--secondary-color);
  transform: translateY(-100%);
  animation: hero-title-down 2s 0.1s ease-in forwards;
}

@keyframes hero-title-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-sub-title {
  font-size: 4rem;
  margin-bottom: 4rem;
  color: var(--light-color);
  transform: translateY(-100%);
  text-shadow: 0.1rem 0.1rem 0.3rem var(--secondary-color);
  animation: hero-title-down 3s 0.1s forwards;
}

.hero-btn {
  transform: translateY(300%);
  animation: btn-slide-in 2s 0.1s ease-in forwards;
  transition: background-color 0.2s;
}

.hero-btn:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

@keyframes btn-slide-in {
  0% {
    transform: translateY(500%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Pick */
.picked {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  background-color: var(--white-color);
  overflow-x: hidden;
}

.pick-card-wrapper {
  transform: translateX(300%);
}

.slide-left {
  animation: slideInFromRight 2s forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}

.picked .wrapper {
  width: 100%;
  height: auto;
}

.pick-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px 10px;
}

.picked .pick:nth-child(1) {
  grid-column: 1 / span 3;
}

.picked .pick:nth-child(2) {
  grid-column: 4;
}

.picked .pick:nth-child(3) {
  grid-column: 1;
}

.picked .pick:nth-child(4) {
  grid-column: 2 / 4;
}

.picked .pick:nth-child(5) {
  grid-column: 4;
}

.img-wrapper {
  width: 100%;
  height: 100%;
}

.pick {
  width: 100%;
  height: 20rem;
  position: relative;
}

.pick:hover .pick-text {
  opacity: 1;
}

.pick-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 5, 4, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s;
}

.pick-name {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 300;
  padding: 1rem 2rem;
}

.pick p {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-bottom: 2rem;
}

/* 

  Package Section

 */

.package-section {
  padding: 1rem 0;
  width: 100%;
  height: 75vh;
  background-color: var(--white-color);
}

.swiper {
  width: 100%;
  height: 100%;
}

.packages-wrapper {
  width: 100%;
  height: 70%;
  padding: 3rem 0 4rem 0;
  display: flex;
  flex-direction: row;
  perspective: 1000rem;
}

.package {
  width: 300px !important;
  height: 400px !important;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 2rem;
  margin: 0 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.package-face {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  /* backface-visibility: hidden; */
}

.package-front {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  transform: rotateY(0deg);
  position: relative;
  backface-visibility: hidden;
}

.package-text {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
}

.package-text > *,
.package-back > * {
  color: var(--white-color);
  text-shadow: 0.1rem 0.1rem 1rem var(--secondary-color);
  font-family: var(--main-font-family);
}

.package .package-name {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.package-paragraph {
  font-size: 1rem;
}

.package-back {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  border-radius: 2rem;
  backface-visibility: hidden;
}

.bg-2,
.bg-5 {
  background-color: var(--primary-color);
}

.bg-3 {
  background-color: var(--light-color);
}

.package-tags {
  font-size: 1rem;
}

.price {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2.2rem 0;
}

.term {
  font-size: 1rem;
  margin-bottom: 4rem;
}

.package .img-wrapper img {
  border-radius: 2rem;
  opacity: 1;
}

/* Featured Section */
.feature {
  position: relative;
}
.featured-section {
  /* padding: 4rem 0; */
  width: 100%;
  height: 40vh;
  display: flex;
  background: url(img/feature-1.jpg) center no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: none;
}

.feature-bg-2 {
  background: url(img/feature-2.jpg) center no-repeat;
}

.feature-bg-3 {
  background: url(img/feature-3.jpg) center no-repeat;
}

.featured-section.show {
  display: block;
}

.arrow {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.arrow:hover {
  color: var(--primary-color);
  opacity: 0.6;
}

.left-arrow {
  left: 1.2rem;
}

.right-arrow {
  right: 1.2rem;
}

.featured-section-title {
  color: var(--white-color);
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 20, 39, 0.25);
}

.featured-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  justify-content: end;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
  margin-right: 6rem;
  padding: 0.8rem;
  align-self: center;
  height: auto;
}

.featured-section-title {
  margin-left: 6rem;
  font-size: 3rem;
}

.featured-title {
  font-size: 2rem;
  font-family: var(--secondary-color);
  line-height: 2rem;
}

.featured-text {
  font-size: 1rem;
  line-height: 2rem;
  padding: 2rem 0;
}

.featured-section .primary-btn {
  font-family: var(--secondary-font-family);
  font-weight: 300;
  box-shadow: none;
  font-size: 1rem;
}

/* 
Footer 
*/

.footer {
  width: 100%;
  height: 20rem;
  background-color: var(--secondary-color);
  position: relative;
}

.footer .footer-wrapper {
  width: 90%;
  height: 100%;
  margin-left: auto;
}

.footer-logo {
  width: 10rem;
  position: absolute;
  bottom: 5rem;
  left: 3rem;
}

.footer-content-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  padding: 2rem 1rem;
}

.subscription-wrapper {
  width: 50%;
}

.footer-content > *,
.sitemap-links a {
  color: var(--white-color);
  font-size: 1.2rem;
}

.sitemap-links {
  display: flex;
  flex-direction: column;
}

.sitemap-title {
  margin: 1.2rem 0;
}

.sitemap-link {
  padding: 0.4rem 0;
  position: relative;
}

.sitemap-link::after {
  content: "";
  width: 0;
  height: 120%;
  border-bottom: 0.1rem solid white;
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  transition: width 0.3s;
}

.sitemap-link:hover::after {
  width: 20%;
}

.subscription-text {
  padding: 1rem 0;
  color: var(--light-color);
}

input {
  width: 60%;
  padding: 1rem 0.4rem;
  border-radius: 0.2rem;
  border: none;
  background-color: rgba(184, 184, 184, 0.25);
  color: var(--white-color);
}

input::placeholder {
  color: rgba(0, 20, 39, 0.5);
}

.input-wrapper {
  margin-top: 0.2rem;
  display: flex;
}

.input-wrapper .secondary-btn {
  width: 30%;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.company-info {
  padding: 0.2rem 0;
}

.social-media-link i {
  width: 1.8rem;
  height: 1.8rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.copyright {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--light-color);
  background-color: var(--secondary-color);
}

/* 
Responsive
*/

@media (max-width: 1420px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1135px) {
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
  }

  .footer-logo {
    display: none;
  }

  .footer .footer-wrapper {
    margin-left: 0;
    margin: 0 auto;
  }
  .footer-content-wrapper {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 1060px) {
  .wrapper .nav-links {
    display: none;
  }

  .navbar .wrapper {
    width: 100%;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    width: 2rem;
    height: 2rem;
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
  }

  .hamburger-menu .line {
    transition: transform 0.2s;
  }

  .hamburger-menu.icon-show .line {
    background-color: var(--secondary-color);
    width: 125%;
  }

  .hamburger-menu.icon-show .line-1 {
    transform: rotate(45deg);
    transform-origin: left;
  }

  .hamburger-menu.icon-show .line-2 {
    display: none;
  }

  .hamburger-menu.icon-show .line-3 {
    transform: rotate(-45deg);
    transform-origin: left;
  }

  .side-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: rgba(244, 213, 141, 0.9);
    z-index: 10;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s;
  }

  .side-nav-show {
    transform: translateX(0);
  }

  .side-nav .side-nav-links {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .side-nav-links a {
    font-size: 1.6rem;
    padding: 0.4rem;
    margin: 1rem 0;
    position: relative;
    transition: width 0.2s;
    font-weight: 300;
    color: var(--secondary-color);
  }

  .side-nav-links a:hover::after {
    width: 50%;
  }

  .side-nav-links a::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -0.2rem;
    left: 0;
  }

  .line {
    width: 100%;
    height: 0.2rem;
    background-color: var(--white-color);
  }

  .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
  }
}
